[mpds_ml_labs]
serve_ui = true
ml_models =
    /path_to_models/model_one.pkl
    /path_to_models/model_two.pkl
comp_models =
    /path_to_models/model_one.so
    /path_to_models/model_two.so
api_key =
api_endpoint = https://api.mpds.io/v0/download/facet
els_endpoint = https://api.mpds.io/v0/download/els_comb

[db]
user = postgres
password =
database = materials_ai
table = ml_knn
host = localhost
port = 5432
