[mpds_ml_labs]
serve_ui = true
ml_models =
    /path_to_models/model_one.pkl
    /path_to_models/model_two.pkl
api_key =
api_endpoint =

[db]
user = postgres
password =
database = materials_ai
table = ml_knn
host = localhost
port = 5432
